USE [BDFicticiaSAv1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [varchar](25) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[contrasenia] [varchar](100) NOT NULL,
	[email] [varchar](40) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[identificacion] [varchar](25) NOT NULL,
	[contrasenia] [varchar](100) NOT NULL,
	[rol] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [varchar](25) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[contrasenia] [varchar](100) NOT NULL,
	[edad] [int] NULL,
	[seguro] [varchar](40) NOT NULL,
	[email] [varchar](40) NULL,
	[telefono] [varchar](20) NULL,
	[genero] [varchar](20) NOT NULL,
	[estado] [varchar](15) NOT NULL,
	[maneja] [bit] NULL,
	[usa_lentes] [bit] NULL,
	[diabetico] [bit] NULL,
	[otra_enfermedad] [bit] NULL,
	[cual_enfermedad] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id_admin], [identificacion], [nombre_completo], [contrasenia], [email], [telefono]) VALUES (1, N'admin001', N'Juan Pérez', N'passAdmin123', N'juan.perez@mail.com', N'3511234567')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[Cuenta] ([identificacion], [contrasenia], [rol]) VALUES (N'admin001', N'passAdmin123', N'Administrador')
INSERT [dbo].[Cuenta] ([identificacion], [contrasenia], [rol]) VALUES (N'user001', N'passUser1', N'Usuario')
INSERT [dbo].[Cuenta] ([identificacion], [contrasenia], [rol]) VALUES (N'user002', N'passUser2', N'Usuario')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [identificacion], [nombre_completo], [contrasenia], [edad], [seguro], [email], [telefono], [genero], [estado], [maneja], [usa_lentes], [diabetico], [otra_enfermedad], [cual_enfermedad]) VALUES (1, N'user001', N'Ana Gómez', N'passUser1', 30, N'Basico', N'ana.gomez@mail.com', N'3512345678', N'Femenino', N'Activo', 1, 0, 0, 0, NULL)
INSERT [dbo].[Usuario] ([id_usuario], [identificacion], [nombre_completo], [contrasenia], [edad], [seguro], [email], [telefono], [genero], [estado], [maneja], [usa_lentes], [diabetico], [otra_enfermedad], [cual_enfermedad]) VALUES (2, N'user002', N'Luis Martínez', N'passUser2', 45, N'Estandar', N'luis.martinez@mail.com', N'3518765432', N'Masculino', N'Activo', 0, 1, 1, 0, NULL)
INSERT [dbo].[Usuario] ([id_usuario], [identificacion], [nombre_completo], [contrasenia], [edad], [seguro], [email], [telefono], [genero], [estado], [maneja], [usa_lentes], [diabetico], [otra_enfermedad], [cual_enfermedad]) VALUES (3, N'user003', N'María López', N'passUser3', 28, N'Premium', N'maria.lopez@mail.com', N'3519876543', N'Femenino', N'Inactivo', 1, 1, 0, 1, N'Asma')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Cuenta] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cuenta] ([identificacion])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Cuenta]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cuenta] FOREIGN KEY([identificacion])
REFERENCES [dbo].[Cuenta] ([identificacion])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Cuenta]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD CHECK  (([rol]='Usuario' OR [rol]='Administrador'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([edad]>=(0) AND [edad]<=(120)))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([genero]='Femenino' OR [genero]='Masculino'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([seguro]='Premium' OR [seguro]='Estandar' OR [seguro]='Basico'))
GO
